button{
    width: 120px;
    height: 80px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 25px;

}

button.igual{
    width: 255px;
    height: 80px;
margin: 5px;} 

input[type=text] {
    width: 520px;
    height: 50px;
}