button{
    width: 120px;
    height: 80px;
    margin: 5px;
    border: -0,8px solid black;
    border-radius: 20px;
    font-size: 25px;

}

button:hover{
    background-color:#DF8600;
    width: 120px;
    height: 80px;
    margin: 5px;
    border: 1px solid #DF8600;
    border-radius: 20px;
    font-size: 25px;

}


body{
    width: 535px; ;
    border: 1px solid black;
    border-radius: 6px;
    margin: auto;
    padding: 4px;
}


button.igual{
    width: 255px;
    height: 80px;
margin: 5px;} 

input[type=text] {
    font-size: 35px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 6px;
    width: 520px;
    height: 50px;
}