@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
button{
    width: 120px;
    height: 80px;
    margin: 5px;
    border: -0,8px solid black;
    border-radius: 20px;
    font-size: 25px;

}

button:hover{
    background-color:#DF8600;
    width: 120px;
    height: 80px;
    margin: 5px;
    border: 1px solid #DF8600;
    border-radius: 20px;
    font-size: 25px;

}

body{
    background-image: url("../imagens/svg/backgroundgreen.svg");
    background-size: 500px auto;
    padding: 45px;


}

div{
    background-image: url("/imagens/svg/background.svg");
    background-size: 500px auto;
    width: 535px; ;
    border: 1px solid black;
    border-radius:40px;
    margin: auto;
    padding: 10px;
}


button.igual{
    width: 255px;
    height: 80px;
margin: 5px;} 

input[type=text] {
    font-size: 35px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 6px;
    width: 520px;
    height: 50px;
}

h1{
   text-align: center; 
   font-size: 35px;
   font-family: 'Arvo', serif;
   color:#DF8600;
}